<div class="row">
    <!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><i class="fas fa-chart-bar"></i> Conteo de variables por personas</h4><br>
                <p>Esta gráfica muestra la distribución de personas por variables categóricas. Por defecto, se muestra la distribución por departamento, pero puedes seleccionar otras variables categóricas para ver cómo se distribuyen las personas según esas categorías.</p>
            </div><!-- end card header -->

            <select [(ngModel)]="variable_param" class="form-select" id="variable_param" (change)="consultarDatosParametro()">
                <option selected value="">Seleccione una variable</option>
                <option *ngFor="let variable1 of listaVariables" [value]="variable1.valor">{{ variable1.label }}</option>
            </select>

            <div class="card-body">
                <apx-chart [series]="customDataLabelsChart.series" [chart]="customDataLabelsChart.chart"
                    [dataLabels]="customDataLabelsChart.dataLabels" [stroke]="customDataLabelsChart.stroke"
                    [colors]="customDataLabelsChart.colors" [title]="customDataLabelsChart.title"
                    [subtitle]="customDataLabelsChart.subtitle" [plotOptions]="customDataLabelsChart.plotOptions"
                    [yaxis]="customDataLabelsChart.yaxis" [xaxis]="customDataLabelsChart.xaxis"
                    [tooltip]="customDataLabelsChart.tooltip" dir="ltr"></apx-chart>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><i class="fas fa-chart-bar"></i> Riesgo de consumo de sustancias psicoactivas vs tipo de sexo</h4><br>
                <p>Esta gráfica ilustra el riesgo de consumo de sustancias psicoactivas, desglosado por sexo (hombre y mujer). Las barras indican la cantidad de personas en cada nivel de riesgo, destacando las diferencias en el consumo de sustancias entre hombres y mujeres.</p>
            </div><!-- end card header -->

            <div class="card-body">
                <apx-chart [series]="barWithNegativeChart.series" [chart]="barWithNegativeChart.chart"
                    [dataLabels]="barWithNegativeChart.dataLabels" [stroke]="barWithNegativeChart.stroke"
                    [colors]="barWithNegativeChart.colors" [title]="barWithNegativeChart.title"
                    [grid]="barWithNegativeChart.grid" [tooltip]="barWithNegativeChart.tooltip"
                    [plotOptions]="barWithNegativeChart.plotOptions" [yaxis]="barWithNegativeChart.yaxis"
                    [xaxis]="barWithNegativeChart.xaxis" dir="ltr"></apx-chart>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"><i class="fas fa-chart-bar"></i> Comparacion de variables</h4><br>
                <p>Esta gráfica muestra la relación entre diferentes variables categóricas. Por defecto, se compara el nivel educativo con la frecuencia de consumo de marihuana, pero puedes seleccionar otras variables para analizar distintas relaciones y comportamientos en los datos.</p>
                <h4 class="card-title mb-0">{{ titulo }}</h4><br>
            </div><!-- end card header -->

            <select [(ngModel)]="variable1_param" class="form-select" id="variable1_param" (change)="consultarDatosParametros()">
                <option selected value="">Seleccione una variable</option>
                <option *ngFor="let variable1 of listaVariables" [value]="variable1.valor">{{ variable1.label }}</option>
            </select>
            <p *ngIf="descripcionSeleccionada1" style="margin-left: 10px;"> {{ descripcionSeleccionada1 }}</p>

            <select [(ngModel)]="variable2_param" class="form-select" id="variable2_param" (change)="consultarDatosParametros()">
                <option selected value="">Seleccione una variable</option>
                <option *ngFor="let variable2 of listaVariables" [value]="variable2.valor">{{ variable2.label }}</option>
            </select>
            <p *ngIf="descripcionSeleccionada2" style="margin-left: 10px;"> {{ descripcionSeleccionada2 }}</p>

            <div class="card-body">
                <apx-chart [series]="stacked100BarChartMarihuana.series" [chart]="stacked100BarChartMarihuana.chart"
                    [dataLabels]="stacked100BarChartMarihuana.dataLabels" [plotOptions]="stacked100BarChartMarihuana.plotOptions"
                    [xaxis]="stacked100BarChartMarihuana.xaxis" [stroke]="stacked100BarChartMarihuana.stroke"
                    [fill]="stacked100BarChartMarihuana.fill" [title]="stacked100BarChartMarihuana.title"
                    [tooltip]="stacked100BarChartMarihuana.tooltip" [legend]="stacked100BarChartMarihuana.legend"
                    [colors]="stacked100BarChartMarihuana.colors" dir="ltr"></apx-chart>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
