<div class="row">
  <div class="col-lg-12">
      <div class="card" id="contactList" style="min-height: 800px; position: relative; background-image: url('../../../../assets/images/tesis/ImageIntroduction.jpg'); background-size: cover; overflow: hidden;">
          <!-- Capa para aplicar opacidad -->
          <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.2); z-index: 1;"></div>
          <!-- Contenido dentro de la tarjeta -->
          <div class="card-body" style="position: relative; z-index: 3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <br><br>
              <h2 style="color: white; text-align: center;">Información sobre la app</h2>
              <br>
              <p style="color: white; text-align: center; font-size: 15px;">El consumo de sustancias psicoactivas en Colombia es un problema que ha crecido durante el pasar de los años, donde los jóvenes que dia a dia buscan experimentar nuevas experiencias se encuentran con este tipo de sustancias como por ejemplo, Marihuana, Cocaína y Basuco, sustancias que se han convertido en algo común en la vida, sin olvidar que esta problemática no solo se presenta para el consumo sino también para el mercado de estas(Sustancias), pues su comercio ha aumentado cada vez mas, además, es de resaltar que algunas personas que consumen este tipo de sustancias en algún momento dejan de consumirlas por sí mismos, mientras que otras personas se ven afectadas directamente y no logran dejar de consumirlas, afectando las relaciones sociales, familiares y del trabajo, lo cual también afecta la salud de persona, tanto física como mentalmente.</p>
              <p style="color: white; text-align: center; font-size: 15px;">Por ende, el propósito de esta aplicación es proporcionar una herramienta que identifique y apoye a personas que están en riesgo, educar y concientizar al público sobre los riesgos asociados y contribuir al análisis de datos e investigación en el campo de la Inteligencia Artificial, generalmente se centra en los siguientes objetivos:</p>
              <p style="color: white; text-align: center; font-size: 15px;">Nuestra principal meta es prevenir el consumo de sustancias psicoactivas en Colombia, enfocándonos en diferente tipos de grupos que se ven afectados en mayor medida como los jóvenes. Para ello, la aplicación proporcionará información de acuerdo con la predicción sobre el riesgo en el que se encuentra la persona (muy bajo, bajo, medio, alto y muy alto), además de los efectos nocivos de estas sustancias, así como consejos de evitar el consumo de dichas sustancias.</p>
              <p style="color: white; text-align: center; font-size: 15px;">La aplicación será una herramienta de gran ayuda a personas que puedan estar en riesgo de ingresar al consumo o que ya están presentando problemas relacionados a ello. Por lo cual, la aplicación tendrá como soporte los datos recolectados y aplicando algoritmos específicos, se pueden evaluar los factores de riesgo influyentes y proporcionar al usuario una retroalimentación personalizada.</p>
              <p style="color: white; text-align: center; font-size: 15px;">Otra gran utilidad es que la aplicación puede ayudar como herramienta educativa ya que los usuarios de la app pueden aumentar la conciencia sobre los riesgos asociados al consumo de sustancias psicoactivas y todos los efectos que puede traer como afectar la salud física y mental, las relaciones personales y rendimiento académico o rendimiento laboral según sea el caso.</p>
              <p style="color: white; text-align: center; font-size: 15px;">La aplicación puede contribuir a la investigación y análisis de tendencias relacionadas con el consumo de sustancias psicoactivas en Colombia. Esto puede ayudar a proporcionar información y a crear programas de prevención más efectivos por parte de las entidades de salud pública.</p>
              <!-- Otro contenido aquí si es necesario -->
              <!-- Botón "Predecir" -->
              <button style="background-color: #3498db; color: white; border: none; border-radius: 10px; padding: 15px 30px; font-size: 18px; font-weight: bold; margin-top: 20px; cursor: pointer;">Predecir</button>
              <br><br>
              <!-- Beneficios de la app -->
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
                <!-- Icono y texto 1 -->
                <div style="display: flex; align-items: center;">
                    <img src="../../../../assets/images/tesis/verify.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
                    <span style="color: white; font-size: 16px;">Información precisa</span>
                </div>

                <!-- Icono y texto 2 -->
                <div style="display: flex; align-items: center; margin-left: 20px; margin-right: 20px;">
                    <img src="../../../../assets/images/tesis/verify.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
                    <span style="color: white; font-size: 16px;">Rápida</span>
                </div>

                <!-- Icono y texto 3 -->
                <div style="display: flex; align-items: center;">
                    <img src="../../../../assets/images/tesis/verify.png" alt="Icono" style="width: 30px; height: 30px; margin-right: 5px;">
                    <span style="color: white; font-size: 16px;">Versátil</span>
                </div>

          </div>

      </div>
    </div>
  </div><!--end col-->
</div><!--end row-->

<div class="row justify-content-center text-center" >
  <div class="col-xl-12 col-lg-6">
      <div class="card card-height-100">
          <div class="card-header d-flex">
              <h5 class="card-title flex-grow-1 mb-0">Video informativo sobre la aplicación y uso de la aplicación</h5>
          </div>
          <div class="card-body px-0">
            <iframe width="900" height="515" src="https://www.youtube.com/embed/-Gn5DFpEGQE?si=KVErdTNWpNt6yg2V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
      </div>
  </div><!--end col-->
  <div class="col-xl-12 col-lg-6 justify-content-center">
      <div class="card " id="contactList">
          <div class="card-header align-items-center d-flex">
              <h4 class="card-title mb-0 flex-grow-1">Varibales del modelo</h4>
          </div>
          <div class="card-body">
              <div class="table-responsive" style="min-height: 400px;max-height: 400px;min-width: 80%; max-width: 80%; margin-left: auto; margin-right: auto;">
                  <table class="table table-striped table-hover mb-0">
                      <thead class="text-muted table-light">
                          <tr >
                              <th scope="col" >Clave</th>
                              <th scope="col" >Significado</th>
                          </tr>
                      </thead>
                      <tbody class="list">
                          <tr *ngFor="let variableSig of variablesSignificado">
                              <td class="customer">
                                  {{variableSig.clave}}
                              </td>
                              <td class="products">{{variableSig.significado}}</td>
                          </tr><!-- end tr -->
                      </tbody><!-- end tbody -->
                  </table><!-- end table -->
              </div>
          </div>
      </div>
  </div><!--end col-->
</div><!--end row-->
